features:
  ##http://minecraft.tools/en/tellraw.php
  announcements:
    messages:
      announcementthreadrunning: "{commandprefix} &cThe announcement thread is already running."
      announcementthreadstarted: "{commandprefix} &cThe announcement thread has started."
      announcementthreadstopped: "{commandprefix} &cThe announcement thread has stopped."
      announcementthreadnotrunning: "{commandprefix} &cThe announcement thread is not running."
    random: false
    interval: 15
    announcements:
      1: '["",{"text":"&8&m&l--------------------&l&8[ &6&lVOYAGE&b&lPVP &8&l]&8&m&l---------------\n"},{"text":"test","clickEvent":{"action":"open_url","value":"https://www.google.com/"}},{"text":"\n&8&m&l--------------------&l&8[ &6&lVOYAGE&b&lPVP &8&l]&8&m&l---------------"}]'
  chatreaction:
    messages:
      countdown: "&b&lChat&e&lReaction &8» &7{duration}."
      wordunscrambled: "&b&lChat&e&lReaction &8» &a{winner} &7unscambled the word &b{word}&7 in {time}."
      wordnotunscrambled: "&b&lChat&e&lReaction &8» &bWord {word} wasn't unscambled in time."
      broadcast: "&b&lChat&e&lReaction &8» {randomword}, you have {time} to unscambled it!"
      couldnotfinddata: "{commandprefix} &cCouldn't find {player}s ChatReaction data."
      informationtemplate:
        - "&aWins&: &b{wins}"
        - "&aFastest Time&8: &b{fastesttime}"
      cannotfindplayerprofile: "{commandprefix} &cCannot find {player}s profile on Mojang API."
    countdown: 60
    cooldown: 120
    rewardcommand: "me Congrats, cunt."
  customprefix:
    messages:
      resetprefix: "{commandprefix} &cPrefix reset."
      noprefixfound: "{commandprefix} &cPrefix not found."
      prefixsetfor: "{commandprefix} Prefix set for &b{player} &7is &b{prefix}&7."
      nocustomprefix: "{commandprefix} &cNo custom prefix found for &b{player}&7."
      setprefix: "{commandprefix} Prefix set as &b{prefix}&7."
      prefixtoolong: "{commandprefix} &cPrefix too long, maximum length is &b{length}&7."
    length: 16
  mention:
    messages:
      playernotfound: "&c&lMention &8» &c{player} is not found."
      infotemplate:
        - "&bOnline&7: {online}"
        - "&bID&7: {uuid}"
