
#Features
features:
  ##http://minecraft.tools/en/tellraw.php
  cannotfindplayerprofile: "{commandprefix} &cCannot find {player}s profile on Mojang API."
  announcements:
    messages:
      announcementthreadrunning: "{commandprefix} &cThe announcement thread is already running."
      announcementthreadstarted: "{commandprefix} &cThe announcement thread has started."
      announcementthreadstopped: "{commandprefix} &cThe announcement thread has stopped."
      announcementthreadnotrunning: "{commandprefix} &cThe announcement thread is not running."
    random: false
    interval: 15
    announcements:
      1: '["",{"text":"&8&m&l--------------------&l&8[ &6&lVOYAGE&b&lPVP &8&l]&8&m&l---------------\n"},{"text":"test","clickEvent":{"action":"open_url","value":"https://www.google.com/"}},{"text":"\n&8&m&l--------------------&l&8[ &6&lVOYAGE&b&lPVP &8&l]&8&m&l---------------"}]'
  chatreaction:
    messages:
      countdown: "&b&lChat&e&lReaction &8» &7{duration}."
      wordunscrambled: "&b&lChat&e&lReaction &8» &a{winner} &7unscambled the word &b{word}&7 in {time}."
      wordnotunscrambled: "&b&lChat&e&lReaction &8» &bWord {word} wasn't unscambled in time."
      broadcast: "&b&lChat&e&lReaction &8» {randomword}, you have {time} to unscambled it!"
      couldnotfinddata: "{commandprefix} &cCouldn't find {player}s ChatReaction data."
      informationtemplate:
        - "&aWins&: &b{wins}"
        - "&aFastest Time&8: &b{fastesttime}"
    countdown: 60
    cooldown: 120
    rewardcommand: "me Congrats, cunt."
  customprefix:
    blacklist:
      - "Nigger"
      - "Cracker"
      - "Cunt"
      - "Shit"
    messages:
      resetprefix: "{commandprefix} &cPrefix reset."
      noprefixfound: "{commandprefix} &cPrefix not found."
      prefixsetfor: "{commandprefix} Prefix set for &b{player} &7is &b{prefix}&7."
      containsblacklistedword: "{commandprefix} &cThe prefix contains the blacklisted word &b{word}&7."
      nocustomprefix: "{commandprefix} &cNo custom prefix found for &b{player}&7."
      setprefix: "{commandprefix} Prefix set as &b{prefix}&7."
      prefixtoolong: "{commandprefix} &cPrefix too long, maximum length is &b{length}&7."
    length: 16
  mention:
    messages:
      playernotfound: "&c&lMention &8» &c{player} is not found."
      infotemplate:
        - "&bOnline&7: {online}"
        - "&bID&7: {uuid}"
  veconomy:
  #To limit the amounts of banks a group or user owns, add the permission voyagecore.veconomy.banks.<number of banks they're allowed to own>
    startamount: 300
    currency:
      symbol: "£"
      name:
        plural: "Pounds"
        singular: "Pound"
    messages:
      balance: "&aBalance&8: &7{balance}"
      error: "There was an error, contact an an administrator."
      nopermission: "{commandprefix} You do not have permission to do this."
      transfersuccess: "{commandprefix} Transferred {amount} to {receiver}."
      notenoughmoney: "{commandprefix} &cYou do not have enough money to send {amount} to {receiver}."
      playernotfound: "{commandprefix} &cPlayer {target} not found."
      incorrectdateformat: "{commandprefix} You have used the incorrect date format. Use yyyy/mm/ss (i.g. 2018/8/18)"
      noentries: "{commandprefix} No entries found."
      ledger:
        header: "&8&m&l-----------------------------------------"
        footer: "&8&m&l-----------------------------------------"
        entry: "&8» &Player&8: &7{player} &8/ &aBalance After Action&8: &7{balance} &8/ &aAmount {addedorremoved}&8: &7{amount} &8/ &aAction&8: &7{action} &8/ &aDate&8: &7{date} &8/ &aTime&8: &7{time}"
      admin:
        gavemoney: "{commandprefix} Gave {amount} to {receiver}."
        clearedbalance: "{commandprefix} Cleared balance of player {target}."
        removedmoney: "{commandprefix} Removed {amount} from player {target}."
        resetbalance: "{commandprefix} Reset balance of {target}."
        bank:
          addedmoney: "{commandprefix} Added {amount} to bank {bank}."
          clearedbank: "{commandprefix} Cleared bank {bank}."
          deleted: "{commandprefix} Bank {bank}, previously owned by {target}, has been deleted."
      bank:
        history:
          header: "&8&m&l-----------------------------------------"
          footer: "&8&m&l-----------------------------------------"
          entry:
            promoted: "&8» &a{member} promoted {target} on {date} at {time}."
            demoted: "&8» &a{member} demoted {target} on {date} at {time}."
            invite-rejected: "&8» &a{player} rejected a membership invitation sent by {requester} on {date} at {time}."
            invite-accepted: "&8» &a{player} accept a membership invitation sent by {requester} on {date} at {time}."
            ownership-transfer: "&8» &a{member} transferred the ownership to {newowner} on {date} at {time}."
            invite: "&8» &a{member} invited {player} to this bank on {date} at {time}."
            removed: "&8» &a{member} removed {player} on {date} at {time}."
            left: "&8» &a{member} left the bank on {date} at {time}."
        listRequests:
          header: "&8&m&l-----------------------------------------"
          footer: "&8&m&l-----------------------------------------"
          entry: "&8» &a{name}'s Request."
          informationTemplate:
            - "&8» Date: {date}"
            - "&8» Bank Name: {bankname}"
            - "&8» Bank Owner: {bankowner}"
        norequestfromspecifiedbank: "{commandprefix} You do not have a membership request from that bank."
        nomembershiprequests: "{commandprefix} You have no membership requests."
        membershiprequestaccepted: "{commandprefix} Accepted membership request for bank {bank}."
        membershiprequestdeclined: "{commandprefix} Declined membership request for bank {bank}."
        alreadyinvitedplayer: "{commandprefix} Already invited player to bank {bank}."
        invitedplayer: "{commandprefix} Invited player {target} to bank {bank}."
        playyerisalreadymember: "{commadnprefix} Player is already a member of the bank."
        left: "{commandprefix} Left bank {bank}."
        ownercannotleave: "{commandprefix} THe owner cannot leave his own bank!"
        leavequestion: "{commandprefix} Are you sure you want to leave bank {bank}? Execute the command with the same arguments to confirm."
        specifyaccountowner: "{commandprefix} &cThere are {amount} banks under that name. Specify the account owner (i.e. TheMasteredPanda/savings)."
        limitexceeded: "{commandprefix} &cOwned bank account limit exceeded. Your limit is {limit}."
        playerisalreadymember: "{commandprefix} &cPlayer {target} is already a member of this bank."
        addedplayer: "{commandprefix} Added player {target} to bank."
        notfound: "{commandprefix} &cBank {bank} is not found."
        nameused: "{commandprefix} &cYou already own a bank under the name {name}."
        created: "{commandprefix} Successfully created bank named {name}."
        deletebankquestion: "{commandprefix} Are you sure you want to delete bank {bank}? Bare in mind, all money from that bank will go to the owner of that bank account."
        bankdeleted: "{commandprefix} Deleted bank {bank}. {amount} was transferred to the owner."
        playerisowner: "{commandprefix}&c The targeted player is the owner of this bank."
        demotedplayer: "{commandprefix} Demoted player {target} from POA to Member."
        playerismember: "{commandprefix} &cPlayer is a member, not a POA."
        playerisnotmember: "{commandprefix} &cPlayer is not a member of this bank."
        playerispoa: "{commandprefix} &cPlayer is POA."
        promotedplayer: "{commandprefix} Promoted player {taexceedsrget} from Member to POA."
        removedmember: "{commandprefix} Removed member from bank {target}."
#        playernotfound: "{commandprefix} &cPlayer {target} not found."
        transfersuccess: "{commandprefix} Transferred amount {amount} to {receiver}."
        exceedsmaximumamount: "{commandprefix} Sending {amount} to {receiver} would exceed the maximum amount of money one may keep in a bank."
#        specifybankowner: "{commandprefix} There is more than one bank under the name of {name}. Please specify the owner of the bank when you invoke the command again in the format of <owner name>/<bank name>"
        transferownershipquestion: "{commandprefix} To confirm the transferal, invoke the command with the same arguments again."
        transferredownership: "{commandprefix} Bank ownership transferred."
        exceedsminimumamount: "{commandprefix} Removing {amount} from {receiver}s bank will put them in a negative balance. "
        list:
          header: "===================================================\n"
          footer: "==================================================="
          entry: "&8» &a{name}"
          entryinformationtemplate: "&aBalance&8:&7 {balance}\n&aMembers&8\n&7{members}"
          memberentry: "&7{name} &8(&b{rank}&8)"
          nobankstolist: "{commandprefix} There are no banks to list."
    mariadb:
      host: "127.0.0.1:3306"
      database: "veconomy"
      username: "root"
      password: "password1"
    sharedaccounts:
      enabled: true
      # -1 - Maximum size the data type 'long' can be.
        #The maximum positive balance a shared account can have.
      maximumbalance: -1
    playeraccounts:
      # -1 - Maximum size the data type 'long' can be.
      #The maximum positive balance a player can have.
      maximumbalance: -1
  norain:
    enabled: true

